h1{
    display: inline-block;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 15px; 
    color: white;
}
p{
    font-weight: 400;
    font-family: 'Roboto', serif;
    font-size: 13px;
    color: white;
    margin-bottom: 30px;
    margin-top: 0px;
}
article{
    background-size: cover;
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 25px;
    padding-bottom: 15px;
}
.btnSection{
    margin-left: -3px;
}
.parentBtn{
    position: relative;
    margin-left: 3px;
    margin-bottom: 10px;
    display: inline-block;
    height: 30px;
    width: fit-content;
    padding: 1px 15px;
    border-radius: 30px;
    overflow: hidden;
}
.backgroundBtn:hover{
    filter: blur(90px);
}
.backgroundBtn{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: blur(60px);
    z-index: 0;
}
.contentBtn{
    display: block;
    font-weight: 600;
    font-family: 'Roboto', serif;
    line-height: 30px;
    color: white;
    font-size: 12px;
    z-index: 999;
}
#contentContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 625px;
    background: lightgray;
}
#articleOne{
    background-image: url(./assets/žuta.jpg);
}
#articleTwo{
    background-image: url(./assets/roza.jpg);
    
}
#articleThree{
    background-image: url(./assets/telefon.jpg);
}